extends layout

block content
  html
    body
      .container
        form(action='postForm', method='POST')
          table.table
            tr
              th
                h3 First name
              th
                h3 Last name
            tr
              td
                input.form-control(type='text', name='firstname', value='Leonard')
              td
                input.form-control(type='text', name='surname', value='Davies')
            tr
              td
                input.form-control(type='text', name='firstname', value='Sheldon')
              td
                input.form-control(type='text', name='surname', value='Cooper')
            tr
              td
                input.form-control(type='text', name='firstname', value='Raj')
              td
                input.form-control(type='text', name='surname', value='Koothrapali')
            tr
              td
                input.form-control(type='text', name='firstname', value='Howard')
              td
                input.form-control(type='text', name='surname', value='Wolowitz')
            tr
              td
                input.form-control(type='text', name='firstname', value='Penny')
              td
                input.form-control(type='text', name='surname', value='')
          input.btn.btn-primary.btn-lg.pull-right(type='submit', value='OK')
