extends layout

block content
  html
    body
      .container
        .jumbotron
          h1 Thanks for your submission
          p we shall get back to you shortly
          a(href='/ ')
            button.btn.btn-primary.btn-lg.pull-right Back
